/* Body */
body {
  color: rgba(0,0,0,0.5);
  font-family: 'Roboto', sans-serif;
}

/**
 * Imposta l'header
 */

header {
  position: fixed;
  top: 0;
  width: 100%;
  background: #FFF;
  height: 95px;
  margin-left: 95px;
  margin-right: 95px;
}

/**
 * Setta l'interno dell'header
 */
.header {
    position: absolute;
    top: 38px;
    right: 95px;
    background: none;
    margin-right: 95px;
}

/**
 * Mette l'header inline
 */
.header li {
    display: inline;
}

/**
 * Come sono fatti i box dell'header
 */
.header li a {
    margin-right: 4px;
    display: block;
    color: #fff;
    text-decoration: none;
    background-color: #D73F22;
    float: left;
    height: 33px;
    width: 115px;
}

/*
 * Il testo dentro i box nell'header
 */
.scrittaMenu {
    font-size: 17px;
    text-align: center;
    margin-top: 4px;
    font-weight: 500;
}

/*
 * Cambia il colore dei tasti selezionati
 */
#menu li.active a{
    background-color: #FFF;
    color: #D73F22;
}

/*
 * Leva i pallini dai link cliccati
 */
a {
    outline: 0;
}
