/**
 * Body
 */
body {
  color: rgba(0,0,0,0.5);
  font-family: 'Roboto', sans-serif;
}

/**
 * Imposto l'header
 */
header {
    position:fixed;
    height: 70px;
    display:block;
    width: 100%;
    background: #FFF;
    z-index:100;
    top: 0px;
}

/**
 * Metto il logo spostato
*/
#headerBrand {
   margin-left: 70px;
}

#headerListone {
    float: right;
    margin-right: 70px;
}

/**
 * Levo lo style alla lista
 */
ul {
    list-style-type: none;
}

/**
 * Metto la lista inline
 */
li {
    float: left;
}

/**
 * Imposto i blocchi della lista
 */
li a {
    margin-right: 20px;
    height: 33px;
    width: 115px;
    display: block;
    color: #FFF;
    text-decoration: none;
    background-color: #D73F22;
    text-align: center;
    margin-top: 20px;
    font-weight: 500;
}

/**
 * Imposto le scritte della lista
 */
.scrittaMenu {
    padding-top: 7px;
     font-size: 16px;
}

/*
 * Cambia il colore dei tasti selezionati
 */
#menu li.active a{
    background-color: #FFF;
    color: #D73F22;
}

/*
 * Leva i pallini dai link cliccati
 */
a {
    outline: 0;
}

#homeImage {
    width: 100%;
    height: 100%;
    background-position: center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
}

.riga-brown {
    background-color: #42210B;
    height: 2px;
    margin-top: 10px;
    margin-left: 70px;
    margin-right: 70px;
}

.riga-orange {
    background-color: #D73F22;
    height: 2px;
    margin-top: 10px;
    margin-left: 70px;
    margin-right: 70px;
}

.content {
    margin-left: 70px;
    margin-right: 70px;
    margin-top: 10px;
}

.titleBoxHome {
    background-color: #42210B;
    font-size: 18px;
    height: 30px;
    margin-bottom: 0px;
}

.titleBoxHome h3 {
    color: #FFF;
    margin-left: 15px;
    padding: 0px;   
    font-weight: 500;
}

.contentBoxHome {
    background-color: rgba(66,33,11,0.15);
    height: 245px;
}

.contentBoxHome p {
    margin-left: 5px;
    margin-right: 5px;
    font-size: 18px;
    font-weight: 100;
    font-family: 'Roboto', sans-serif;
    color: #592D2B;
    padding: 4px;
    line-height: 1.4em;
}

/**
 * SECONDA PAGINA
 */
.box-uno-orange {
    background-color: #D73F22;
    width: 380px;
    height: 245px;
    font-size: 18px;
    font-weight: 500;
    color: #FFF;
    padding: 14px;
    line-height: 1.4em;
}

.titolo-hidden h3 {
    color: #FFF;
}

.sottobox-uno {
    height: 122.5px;
}


.sottobox-uno-due {
    background-color: rgba(66,33,11,0.15);
    height: 122.5px;
    
}

.sottobox-uno-due p {
    font-size: 18px;
    font-weight: 500;
    line-height: 1.3em;
    padding: 4px;
}

.sottobox-due {
    height: 122.5px;
    background-color: rgba(66,33,11,0.15);
    padding: 4px;
}

.sottobox-due p {
    font-weight: 500;
    font-size: 18px;
    line-height: 1.4em;
    padding: 4px;
}

.sottobox-due-due #fragoleImg{
    height: 122.5px;
    width: 1000px;
}

/**
 * TERZA PAGINA
 */

.box-uno-brown {
    background-color: #42210B;
    width: 380px;
    height: 245px;
    font-size: 18px;
    font-weight: 500;
    color: #FFF;
    padding: 14px;
    text-align: right;
    line-height: 1.4em;
}

.box-uno-brown p {
    line-height: 1.4em;
}

.titolo-hidden h3 {
    color: #FFF;
}

#produttoreImg {
    width: 1000px;
    height: 245px;
}

.testo-trasformato p {
    line-height: 1.4em;
}

#fragoleImg {
    width: 1000px;
    height: 122.5px;
}

.banneroneSlide {
    max-width: 100% !important;;
    position: relative;
    overflow: auto;
}

.banneroneSlide ul { margin: 0; padding: 0; }
.banneroneSlide li { list-style: none; }
.banneroneSlide ul li { float: left; }

#doveSiamo {
    margin-top: 40px;
}

#doveSiamo h2 {
    color: #D73F22;
}

#infoContatti {
    margin-top: 10px;
}

#infoContatti p {
    line-height: 1.4em;
    font-weight: 700;
    font-size: 25px;
    color: #42210B;
}