body {
    width: 100%;
    height: 100%;
    font-family: 'Roboto', sans-serif;
}

html {
    width: 100%;
    height: 100%;
}

/* Background della navbar */
.navbar {
  background-color: #D74321;
}

/* Colore dei li */
.navbar-default .navbar-nav > li > a {
  color: #FFF;
}

/* Colore del brand */
.navbar-header > .navbar-brand {
  color: #FFF;
}


@media(min-width:767px) {
    .navbar {
        padding: 2px 0;
    }

    .top-nav-collapse {
        padding: 0;
    }
}

/* Style del sito, padding per definire bene dove posizionarsi */
.intro-section {
    height: 100%;
    padding-top: 70px;
    text-align: center;
    background: #fff;
}

.certificazioni-section {
    height: 100%;
    padding-top: 70px;
    text-align: center;
    background: #eee;
}

.calendario-section {
    height: 100%;
    padding-top: 70px;
    text-align: center;
    background: #fff;
}

.prodotti-section {
    height: 100%;
    padding-top: 70px;
    text-align: center;
    background: #eee;
}

.aziende-section {
    height: 100%;
    padding-top: 70px;
    text-align: center;
    background: #fff;
}

.contatti-section {
    height: 100%;
    padding-top: 70px;
    text-align: center;
    background: #eee;
}
